appnope==0.1.0
attrs==20.3.0
backcall==0.2.0
coverage==5.3
decorator==4.4.2
iniconfig==1.1.1
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
packaging==20.7
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.9.0
Pygments==2.7.2
pyparsing==2.4.7
pytest==6.1.2
toml==0.10.2
traitlets==5.0.5
wcwidth==0.2.5
